Repository ponderrr/site-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, vitest related --run

feat(security): add input validation, error handling, and fix worker build issues
  .gitignore
  packages/analyzer/copy-workers.js
  packages/analyzer/package.json
  packages/analyzer/src/analysis/AnalysisOrchestrator.ts
  packages/analyzer/src/analysis/ContentMetricsAnalyzer.ts
  packages/analyzer/src/analysis/analyzer-extended.test.ts
  packages/analyzer/src/workers/analysis-worker.ts
  packages/core/copy-workers.js
  packages/core/package.json
  packages/core/src/cache/index.ts
  packages/core/src/core.test.ts
  packages/core/src/error-handling/index.ts
  packages/core/src/index.ts
  packages/core/src/parallel/index.ts
  packages/core/src/performance/index.ts
  packages/core/src/worker/index.ts
  packages/core/src/workers/base-worker.js
  packages/core/tsconfig.json
  packages/extractor/src/extractor.test.ts
  packages/extractor/src/extractor.ts
  packages/extractor/src/html-parser.ts
  packages/extractor/src/markdown-converter.ts
  packages/extractor/src/url-normalizer.ts
  test/integration.test.ts
  test/setup.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

Add markdown analyzer and URL analyzer with redirect support
  HOW-TO-USE.md
  QUICK-START.md
  TESTING-GUIDE.md
  URL-USAGE-GUIDE.md
  analyze-html-simple.js
  analyze-html.js
  analyze-markdown.js
  analyze-url.js
  sample-documentation.md
  sample-with-images.md
  sample.html
  test-example.js
Due: eslint --fix --max-warnings=0, prettier --write

Revert "Feat/security"
  .gitignore
  HOW-TO-USE.md
  QUICK-START.md
  TESTING-GUIDE.md
  URL-USAGE-GUIDE.md
  analyze-html-simple.js
  analyze-html.js
  analyze-markdown.js
  analyze-url.js
  packages/analyzer/copy-workers.js
  packages/analyzer/package.json
  packages/analyzer/src/analysis/AnalysisOrchestrator.ts
  packages/analyzer/src/analysis/ContentMetricsAnalyzer.ts
  packages/analyzer/src/analysis/analyzer-extended.test.ts
  packages/analyzer/src/workers/analysis-worker.ts
  packages/core/copy-workers.js
  packages/core/package.json
  packages/core/src/cache/index.ts
  packages/core/src/core.test.ts
  packages/core/src/error-handling/index.ts
  packages/core/src/index.ts
  packages/core/src/parallel/index.ts
  packages/core/src/performance/index.ts
  packages/core/src/worker/index.ts
  packages/core/src/workers/base-worker.js
  packages/core/tsconfig.json
  packages/extractor/src/extractor.test.ts
  packages/extractor/src/extractor.ts
  packages/extractor/src/html-parser.ts
  packages/extractor/src/markdown-converter.ts
  packages/extractor/src/url-normalizer.ts
  sample-documentation.md
  sample-with-images.md
  sample.html
  test-example.js
  test/integration.test.ts
  test/setup.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

Remove sample files and documentation files
  HOW-TO-USE.md
  QUICK-START.md
  TESTING-GUIDE.md
  URL-USAGE-GUIDE.md
  analyze-html-simple.js
  analyze-html.js
  analyze-markdown.js
  analyze-url.js
  sample-documentation.md
  sample-with-images.md
  sample.html
  test-example.js
  validation-report.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: fix critical build issues and add comprehensive documentation
  docs/api/core.md
  docs/architecture/data-flow.md
  docs/architecture/overview.md
  docs/guides/getting-started.md
  packages/analyzer/README.md
  packages/analyzer/package.json
  packages/analyzer/src/index.ts
  packages/analyzer/tsconfig.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/core/README.md
  packages/core/package.json
  packages/core/tsconfig.json
  packages/extractor/README.md
  packages/extractor/tsconfig.json
  packages/generator/README.md
  packages/generator/package.json
  packages/generator/src/index.ts
  packages/generator/tsconfig.json
  packages/testing/README.md
  packages/testing/package.json
  packages/testing/src/index.ts
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

fix: resolve TypeScript errors in HTML parser and extraction modules
  packages/extractor/package.json
  packages/extractor/src/content-filter.ts
  packages/extractor/src/extractor.ts
  packages/extractor/src/html-parser.ts
  packages/extractor/src/markdown-converter.ts
  packages/extractor/src/media-extractor.ts
  packages/extractor/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

feat: implement critical fixes for worker pools, caching, and analysis pipeline
  packages/analyzer/package.json
  packages/analyzer/src/analysis/AnalysisOrchestrator.test.ts
  packages/analyzer/src/analysis/AnalysisOrchestrator.ts
  packages/analyzer/src/analysis/ContentMetricsAnalyzer.ts
  packages/analyzer/src/analysis/analyzer-extended.test.ts
  packages/analyzer/src/workers/analysis-worker.ts
  packages/core/src/cache/index.ts
  packages/core/src/error-handling/index.ts
  packages/core/src/performance/index.ts
  packages/core/src/worker/index.ts
  pnpm-lock.yaml
  test/integration.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

Fix code review issues: TypeScript errors, null safety, and worker contracts
  packages/analyzer/src/analysis/AnalysisOrchestrator.ts
  packages/analyzer/src/analysis/ContentMetricsAnalyzer.ts
  packages/analyzer/src/analysis/PageTypeClassifier.ts
  packages/analyzer/src/analysis/SectionDetector.ts
  packages/analyzer/src/index.ts
  packages/analyzer/src/types/analysis.types.ts
  packages/analyzer/src/workers/analysis-worker.ts
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

Update analyzer tests, core modules, and html parser improvements
  packages/analyzer/src/analysis/AnalysisOrchestrator.test.ts
  packages/analyzer/src/analysis/ContentMetricsAnalyzer.test.ts
  packages/core/src/cache/index.ts
  packages/core/src/error-handling/index.ts
  packages/core/src/worker/index.ts
  packages/extractor/src/html-parser.ts
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

feat: implement critical production improvements
  config/esbuild.config.js
  config/memory.config.ts
  config/piscina.config.js
  packages/analyzer/src/analysis/AnalysisOrchestrator.ts
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/cache/index.ts
  packages/core/src/cache/key-generator.ts
  packages/core/src/config/memory.config.ts
  packages/core/src/health/index.ts
  packages/core/src/health/server.ts
  packages/core/src/index.ts
  packages/core/src/rate-limiting/index.ts
  packages/core/src/validation/index.ts
  packages/core/src/validation/zod-validator.ts
  packages/core/src/worker/index.ts
  packages/core/tsconfig.json
  packages/extractor/tsconfig.json
  packages/generator/src/index.ts
  packages/generator/tsconfig.json
  test/integration/setup.ts
  test/integration/worker-pool.integration.test.ts
  tsconfig.json
  vitest.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

fix: address critical code review issues
  config/piscina.config.js
  packages/core/src/health/index.ts
  packages/core/src/rate-limiting/index.ts
  packages/generator/src/index.ts
  test/integration/setup.ts
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

chore: update lockfile and ignore generated declaration files
  .gitignore
  pnpm-lock.yaml
Due: prettier --write

feat: Add AI generation pipeline with Ollama integration
  AI generation/README.md
  AI generation/SETUP_COMPLETE.md
  AI generation/config/site.config.yaml
  AI generation/drivers/generate_pages_ollama.py
  AI generation/packager/package_site.py
  AI generation/prompts/page_user_template.md
  AI generation/prompts/system_template.md
  AI generation/requirements.txt
Due: prettier --write

Fix services template to match Our Work hero section
  AI generation/scripts/generate-simple-content.py
  generator/themes/default/templates/service.tsx
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

Fix template system to be fully automated without hardcoding
  generator/TEMPLATE-CUSTOMIZATION.md
  generator/app/(routes)/[...slug]/page.tsx
  generator/app/layout.tsx
  generator/config/site.config.ts
  generator/content/.gitkeep
  generator/package.json
  generator/public/images/README.md
  generator/scripts/build-route-map.mjs
  generator/scripts/clean-mdx.mjs
  generator/scripts/copy-generated.mjs
  generator/scripts/generate-tokens.mjs
  generator/scripts/prebuild.mjs
  generator/themes/default/components/CTA.tsx
  generator/themes/default/templates/blog.tsx
  generator/themes/default/templates/contact.tsx
  generator/themes/default/templates/faq.tsx
  generator/themes/default/templates/homepage.tsx
  generator/themes/default/templates/legal.tsx
  generator/themes/default/templates/location.tsx
  generator/themes/default/templates/other.tsx
  generator/themes/default/templates/product.tsx
  generator/themes/default/templates/service.tsx
  generator/themes/default/tokens.ts
Due: eslint --fix --max-warnings=0, prettier --write, vitest related --run

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
  vitest related --run: any of: *.{ts,tsx}
